openapi: '3.0.0'
info:
  title: Abandoned Cart Emails
  version: '3.0.0'
  termsOfService: 'https://www.bigcommerce.com/terms'
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Abandoned Cart Emails
  - name: Template settings
paths:
  '/marketing/abandoned-cart-emails':
    get:
      description: An array of abandoned cart emails pertaining to a store.
      parameters:
        - $ref: '#/components/parameters/ChannelIdOptional'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AbandondedCartEmail'
                  meta:
                    $ref: '#/components/schemas/metaCollection_open'
              examples:
                List of abandoned cart templates:
                  value:
                    data:
                      - id: 1
                        notify_at_minutes: 60
                        coupon_code: FF11-22X4
                        template:
                          subject: 'Complete your purchase at {{ store.name }}'
                          body: 'Complete your purchase <a href="{{ notification.checkout_link }}">{{notification.checkout.link}}'
                          translations:
                            - locale: en
                              keys:
                                hello_phrase: 'Welcome back,'
                    meta: {}
      tags:
        - Abandoned Cart Emails
      summary: Get all email templates
      operationId: getAbandonedCartEmails
    post:
      summary: Create email template
      operationId: createEmailTemplate
      tags:
        - Abandoned Cart Emails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AbandondedCartEmail'
                  meta:
                    $ref: '#/components/schemas/metaCollection_open'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveError'
      description: Create an Abandoned Cart Email template.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandondedCartEmailPayload'
            examples:
              Add active abandoned cart email template:
                value:
                  is_active: true
                  coupon_code: FF11-22X4
                  notify_at_minutes: 60
                  template:
                    subject: 'Complete your purchase at {{ store.name }}'
                    body: '{{lang ''hello_phrase'' }}<br>Complete your purchase <a href="{{ notification.checkout_link }}">{{notification.checkout.link}}'
                    translations:
                      - locale: en
                        keys:
                          hello_phrase: Welcome
      parameters:
        - $ref: '#/components/parameters/ChannelIdOptional'
        - $ref: '#/components/parameters/ContentType'
    parameters:
      - $ref: '#/components/parameters/Accept'
  '/marketing/abandoned-cart-emails/{id}':
    get:
      summary: Get an email template
      description: Get a single Abandoned Cart Email template.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AbandondedCartEmail'
                  meta:
                    $ref: '#/components/schemas/metaCollection_open'
      tags:
        - Abandoned Cart Emails
      operationId: getAbandonedCartEmailTemplateId
    put:
      summary: Update an email template
      description: Update an email template.
      operationId: updateAbandonedCartEmailsId
      tags:
        - Abandoned Cart Emails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AbandondedCartEmail'
                  meta:
                    $ref: '#/components/schemas/metaCollection_open'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandondedCartEmailPayload'
            examples:
              Update Abandoned Cart Email template:
                value:
                  is_active: true
                  coupon_code: FF11-22X4
                  notify_at_minutes: 60
                  template:
                    subject: 'Complete your purchase at {{ store.name }}'
                    body: 'Complete your purchase <a href="{{ notification.checkout_link }}">{{notification.checkout.link}}'
                    translations:
                      - locale: en
                        keys:
                          hello_phrase: 'Welcome back,'
              Enable email:
                value:
                  is_active: true
              Disable email:
                value:
                  is_active: false
              Update coupon code and notification time:
                value:
                  coupon_code: FF11-22X4
                  notify_at_minutes: 60
      parameters:
        - $ref: '#/components/parameters/ContentType'
    delete:
      tags:
        - Abandoned Cart Emails
      description: Delete Abandoned Cart Email template.
      summary: Delete email template
      operationId: deleteAbandonedCartEmailTemplateId
      responses:
        '204':
          description: No Content
    parameters:
      - schema:
          type: integer
          minimum: 0
        name: id
        in: path
        required: true
        description: ID of the Abandoned Cart Email template.
      - $ref: '#/components/parameters/Accept'
  '/marketing/abandoned-cart-emails/default':
    get:
      summary: Get default email template
      description: Return default Abandoned Cart Email template.
      tags:
        - Abandoned Cart Emails
      operationId: GetDefaultAbandonedCartEmailTemplate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  subject:
                    type: string
                    minLength: 1
                  body:
                    type: string
                    minLength: 1
                  translations:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - locale
                        - keys
                      properties:
                        locale:
                          type: string
                          minLength: 1
                        keys:
                          type: object
                          properties:
                            hello_phrase:
                              type: string
                              minLength: 1
                required:
                  - subject
                  - body
                  - translations
              examples:
                example-1:
                  value:
                    subject: 'Complete your purchase at {{ store.name }}'
                    body: '{{lang ''hello_phrase''}} Complete your purchase <a href="{{ notification.checkout_link }}">{{notification.checkout.link}}'
                    translations:
                      - locale: en
                        keys:
                          hello_phrase: Welcome back
    parameters:
      - $ref: '#/components/parameters/Accept'
  '/marketing/abandoned-cart-emails/settings':
    get:
      summary: Get email template settings
      tags:
        - Template settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbandonedCartSettings'
      operationId: GetAbandonedCartEmailTemplateSettings
      description: Read Abandoned Cart Email Template settings.
      parameters:
        - $ref: '#/components/parameters/ChannelIdRequired'
    put:
      summary: Update email template settings
      operationId: updateEmailTemplateSettings
      tags:
        - Template settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbandonedCartSettings'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbandonedCartSettings'
      description: Update Abandoned Cart Email template settings.
      parameters:
        - $ref: '#/components/parameters/ChannelIdOptional'
        - $ref: '#/components/parameters/ContentType'
    parameters:
      - $ref: '#/components/parameters/Accept'
components:
  schemas:
    SaveError:
      type: object
      title: SaveError
      description: ''
      properties:
        status:
          type: integer
        title:
          type: string
        type:
          type: string
        errors:
          type: array
          items:
            type: string
      x-internal: false
    BaseError:
      title: BaseError
      type: object
      properties:
        status:
          type: string
        type:
          type: string
      x-internal: false
    AbandonedCartEmailModel:
      title: AbandonedCartEmailModel
      type: object
      properties:
        notify_at_minutes:
          $ref: '#/components/schemas/NotifyAtMinutes'
        coupon_code:
          $ref: '#/components/schemas/CouponCode'
        template:
          $ref: '#/components/schemas/Template'
      x-internal: false
    AbandonedCartSettings:
      title: AbandonedCartSettings
      type: object
      properties:
        use_global:
          type: boolean
          description: Boolean value that specifies the inheritance state.
      required:
        - use_global
      x-internal: false
    AbandondedCartEmailPayload:
      type: object
      properties:
        is_active:
          type: boolean
        coupon_code:
          $ref: '#/components/schemas/CouponCode'
        notify_at_minutes:
          $ref: '#/components/schemas/NotifyAtMinutes'
        template:
          $ref: '#/components/schemas/Template'
      title: ''
      x-internal: false
    Template:
      title: Template
      type: object
      properties:
        subject:
          type: string
          example: '''Complete your purchase at {{ store.name }}'''
          maxLength: 255
        body:
          type: string
          example: '''Complete your purchase <a href="{{ notification.checkout_link }}">{{notification.checkout.link}}'''
        translation:
          type: array
          items:
            $ref: '#/components/schemas/TranslationDefinition'
      required:
        - subject
        - body
        - translations
      x-internal: false
    TranslationDefinition:
      title: TranslationDefinition
      type: object
      properties:
        locale:
          type: string
          example: en
          description: 'Locale code for this language, such as ''en'', ''en-us'', ''fr-ca''.'
        keys:
          type: string
          description: Language keys for the template. User-defined. Should match any language keys used in the template.
        additionalProperties:
          type: string
      required:
        - locale
        - keys
      x-internal: false
    NotifyAtMinutes:
      type: integer
      title: NotifyAtMinutes
      description: 'Describes when this email will be sent, in minutes. Only supports certain intervals described in the enum.'
      example: 60
      enum:
        - 60
        - 120
        - 180
        - 240
        - 300
        - 360
        - 420
        - 480
        - 540
        - 600
        - 660
        - 720
        - 780
        - 840
        - 900
        - 960
        - 1020
        - 1080
        - 1140
        - 1200
        - 1260
        - 1320
        - 1380
        - 1440
        - 2880
        - 4320
        - 5760
        - 7200
        - 8640
        - 10080
        - 11520
        - 12960
        - 14400
      x-examples:
        example-1: 60
        type: integer
      x-internal: false
    CouponCode:
      title: Coupon Code Field
      type: string
      example: FF11-22X4
      x-internal: false
    AbandondedCartEmail:
      title: AbandondedCartEmail
      type: object
      properties:
        id:
          type: integer
          example: 1
        notify_at_minutes:
          $ref: '#/components/schemas/NotifyAtMinutes'
        coupon_code:
          $ref: '#/components/schemas/CouponCode'
        template:
          $ref: '#/components/schemas/Template'
        is_active:
          type: boolean
        sent_num:
          type: integer
      x-internal: false
    metaCollection_open:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.'
      schema:
        type: string
        default: 'application/json'
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.'
      schema:
        type: string
        default: 'application/json'
    ChannelIdOptional:
      in: query
      name: channel_id
      description: Channel ID to use for channel-level data.
      schema:
        type: integer
    ChannelIdRequired:
      name: channel_id
      in: query
      required: true
      schema:
        type: integer
      description: Channel ID to use for channel-specific setting.
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        | Information & Settings  | read-only  | `store_v2_information_read_only`|
        | Information & Settings  | modify     | `store_v2_information`          |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts). |
        
        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/api-docs/getting-started/api-status-codes).
      type: apiKey
      in: header


openapi: '3.0.0'
info:
  version: ''
  title: Abandoned Carts
  description: |-
    Use `/abandoned-carts/{token}` on headless storefronts to retrieve the `cart_id` using the abandoned cart `token` passed to the storefront when a shopper clicks an abandoned cart email link. Once the cart ID has been retrieved, your application can use it to fetch and display information about the cart to the shopper using the REST Storefront API, the REST Management API, or the GraphQL Storefront API.
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Abandoned Carts
  - name: Abandoned Cart Settings
  - name: Abandoned Carts Settings
paths:
  '/abandoned-carts/settings':
    get:
      summary: Get Global Abandoned Cart Settings
      description: Returns the global abandoned cart settings of a store.
      operationId: getGlobalAbandonedCartSettings
      tags:
        - Abandoned Cart Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters: []
    put:
      summary: Update Global Abandoned Cart Settings
      description: Updates the global abandoned cart settings of a store.
      operationId: UpdateGlobalAbandonedCartSettings
      tags:
        - Abandoned Carts Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalAbandonedCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
        - $ref: '#/components/parameters/ContentType'
    parameters:
      
      - $ref: '#/components/parameters/Accept'
  '/abandoned-carts/settings/channels/{channel_id}':
    get:
      summary: Get Channel Abandoned Cart Settings
      description: Returns the per-channel overrides for the abandoned cart settings of a store.
      operationId: getChannelAbandonedCartSettings
      tags:
        - Abandoned Carts Settings
      parameters:
        - name: channel_id
          description: The channel ID of the settings overrides
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Update Channel Abandoned Cart Settings
      description: |-
        Updates the per-channel overrides for the abandoned cart settings of a store.

        #### OAuth Scopes
        | UI Name                                      | Permission | Parameter                                     |
        |----------------------------------------------|------------|-----------------------------------------------|     
        | Information & Settings                       | modify     | `store_v2_information`                        |
      operationId: UpdateChannelAbandonedCartSettings
      tags:
        - Abandoned Carts Settings
      parameters:
        - name: channel_id
          description: The channel ID of the settings overrides
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelAbandonedCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelAbandonedCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security: []
    parameters:
      
      - $ref: '#/components/parameters/Accept'
      - schema:
          type: string
        name: channel_id
        in: path
        required: true
  '/abandoned-carts/{token}':
    get:
      responses:
        '200':
          $ref: '#/components/responses/abandonedCart_Resp'
        '400':
          $ref: '#/components/responses/400_BadRequest'
        '404':
          $ref: '#/components/responses/404_NotFound'
        '422':
          $ref: '#/components/responses/422_UnprocessableEntity'
        '502':
          $ref: '#/components/responses/502_GatewayError'
        '503':
          $ref: '#/components/responses/503_ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504_GatewayTimeout'
        default:
          description: ''
      summary: Get an Abandoned Cart
      description: |-
        Returns the `cart_id` corresponding to the abandoned cart `{token}` passed in.

        **Usage Notes**:
        * `{token}` is the token in the query string of the abandoned cart link found in abandoned cart email notifications to shoppers
      operationId: getAbandonedCarts
      tags:
        - Abandoned Carts
    parameters:
      - name: token
        in: path
        required: true
        description: |-
          Unique cart `UUID`.

          Unique cart `UUID` token that is generated for abandoned cart emails.
        schema:
          type: string
      
      - $ref: '#/components/parameters/Accept'
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.'
      schema:
        type: string
        default: 'application/json'
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: 'The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.'
      schema:
        type: string
        default: 'application/json'
  responses:
    502_GatewayError:
      description: 'If something happens during the request that causes it to fail, a 502 response will be returned. A new request should be made; however, it could fail.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 502
                title: A login URL could not be generated. Please try another request.
                type: /api-docs/getting-started/api-status-codes
    504_GatewayTimeout:
      description: 'If this occurs, you should retry the request. Typically retrying the request several times will result in a successful request; However, if you are unable to successfully make a request, please check the BigCommerce system status [here](https://status.bigcommerce.com/). A service is likely down and the request will need to be made again when it is back up (in several hours usually)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDetailed_Full'
          examples:
            response:
              value:
                status: 504
                title: Gateway Timeout
                type: /api-docs/getting-started/api-status-codes
                errors: {}
    403_Unauthorized:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 403
                title: Unauthorized Access. You do not have permission to make this request.
                type: /api-docs/getting-started/api-status-codes
    400_BadRequest:
      description: |-
        Malformed request syntax. Typically need to fix the JSON
        Body to resend successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 400
                title: Input is invalid.
                type: /api-docs/getting-started/api-status-codes
    404_NotFound:
      description: 'If the requested account resource is not found for the franchise, return a 404 Not Found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 404
                title: 'Account with {id} not found'
                type: /api-docs/getting-started/api-status-codes
    422_UnprocessableEntity:
      description: This occurs when missing or unacceptable data is passed for one or more fields. Please correct the values for the fields listed in the errors object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDetailed_Full'
          examples:
            response:
              value:
                status: 422
                title: JSON data is missing or invalid
                type: /api-docs/getting-started/api-status-codes
                errors:
                  name: error.expected.jsstring
                  primary_contact.district: error.expected.jsstring.
    503_ServiceUnavailable:
      description: 'If this occurs, you should retry the request. If you are unable to successfully make a request, please check the BigCommerce system status [here](https://status.bigcommerce.com/). A service is likely down and the request will need to be made again when it is back up (in several hours usually)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 503
                title: Service Unavailable
                type: /api-docs/getting-started/api-status-codes
    abandonedCart_Resp:
      description: Returned on `GET` requests to `/abandoned_carts`.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/abandonedCartInfo_Full'
              meta:
                $ref: '#/components/schemas/metaEmpty_Full'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: |-
        ### OAuth scopes

        | UI Name | Permission | Parameter |
        |:--------|:-----------|:----------|
        | Information & Settings  | read-only  | `store_v2_information_read_only`|
        | Information & Settings  | modify     | `store_v2_information`          |

        ### Authentication header

        | Header | Argument | Description |
        |:-------|:---------|:------------|
        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts). |
        
        ### Further reading

        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#x-auth-token-header-example-requests).
        
        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts#oauth-scopes).
        
        For a list of API status codes, see [API Status Codes](/api-docs/getting-started/api-status-codes).
      type: apiKey
      in: header
  schemas:
    metaEmpty_Full:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    error_Full:
      type: object
      title: error_Full
      properties:
        status:
          description: |
            The HTTP status code.
          type: integer
        title:
          description: |
            The error title describing the particular error.
          type: string
        type:
          type: string
      x-internal: false
    errorDetailed_Full:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: string
          title: DetailedErrors
      title: errorDetailed_Full
      x-internal: false
    abandonedCartInfo_Full:
      type: object
      title: abandonedCartInfo_Full
      properties:
        cart_id:
          type: string
          description: The `cart_id` of the abandoned cart. Can be used to display the abandoned cart to the customer using storefront cart or
      x-internal: false
    AbandonedCartSettings:
      description: Represents all settings related to the abandoned cart functionality of a store
      type: object
      x-tags:
        - Models
      properties:
        enable_notification:
          description: Indicates whether or not abandoned cart notification is on
          type: boolean
        email_customer_until_cart_is_recovered:
          description: Indicates whether or not a customer should continue to receive abandoned cart emails until their cart is recovered
          type: boolean
        marketing_emails_require_customer_consent:
          description: Indicates whether or not a customer should receive abandoned cart emails based on their consent. By default customers will not receive emails.
          type: boolean
        email_merchant_when_cart_is_converted:
          description: Indicates whether or not a merchant should receive a notification email when a cart is converted into an order
          type: boolean
        email_merchant_when_cart_is_abandoned:
          description: Indicates whether or not a merchant should receive a notification email when a cart is abandoned
          type: boolean
        merchant_email_address:
          description: The email address for receiving merchant notifications
          type: string
          format: email
        merchant_abandoned_cart_email_frequency_type:
          description: 'Indicates whether to send an email for every abandoned cart, or to send a digest email after X number of abandoned carts'
          type: string
          enum:
            - digest
            - individual
        merchant_abandoned_cart_digest_email_frequency:
          description: The number of abandoned carts to accumulate before a digest email is sent to a merchant
          type: integer
          minimum: 2
          maximum: 1000
    ChannelAbandonedCartSettings:
      description: Represents all settings overrides related to the abandoned cart functionality of a store for a channel
      type: object
      x-tags:
        - Models
      properties:
        enable_notification:
          description: 'Indicates whether or not abandoned cart notification is on. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        email_customer_until_cart_is_recovered:
          description: 'Indicates whether or not a customer should continue to receive abandoned cart emails until their cart is recovered. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        marketing_emails_require_customer_consent:
          description: 'Indicates whether or not a customer should receive abandoned cart emails based on their consent. If it is null, it means there is no override for the specified channel. By default customers will not receive emails.'
          type: boolean
          nullable: true
        email_merchant_when_cart_is_converted:
          description: 'Indicates whether or not a merchant should receive a notification email when a cart is converted into an order. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        email_merchant_when_cart_is_abandoned:
          description: 'Indicates whether or not a merchant should receive a notification email when a cart is abandoned. If it is null, it means there is no override for the specified channel.'
          type: boolean
          nullable: true
        merchant_email_address:
          description: 'The email address for receiving merchant notifications. If it is null, it means there is no override for the specified channel.'
          type: string
          format: email
          nullable: true
        merchant_abandoned_cart_email_frequency_type:
          description: 'Indicates whether to send an email for every abandoned cart or to send a digest email after X number of abandoned carts. If it is null, it means there is no override for the specified channel.'
          type: string
          enum:
            - digest
            - individual
          nullable: true
        merchant_abandoned_cart_digest_email_frequency:
          description: 'The number of abandoned carts to accumulate before a digest email is sent to a merchant. If it is null, it means there is no override for the specified channel.'
          type: integer
          minimum: 2
          maximum: 1000
          nullable: true
    ChannelAbandonedCartSettingsRequest:
      allOf:
        - $ref: '#/components/schemas/ChannelAbandonedCartSettings'
        - description: The request object for updating the abandoned cart settings overrides of a store for a channel
      x-tags:
        - Models
    ChannelAbandonedCartSettingsResponse:
      description: The response object of abandoned cart settings overrides for a channel
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChannelAbandonedCartSettings'
        meta:
          $ref: '#/components/schemas/metaEmpty_Full'
      x-tags:
        - Models
    GlobalAbandonedCartSettingsRequest:
      allOf:
        - $ref: '#/components/schemas/AbandonedCartSettings'
        - description: The request object for updating the abandoned cart settings of a store at the global level
          required:
            - enabled
            - email_customer_until_cart_is_recovered
            - marketing_emails_require_customer_consent
            - email_merchant_when_cart_is_converted
            - email_merchant_when_cart_is_abandoned
            - merchant_email_address
            - merchant_abandoned_cart_email_frequency_type
            - merchant_abandoned_cart_digest_email_frequency
      x-tags:
        - Models
    GlobalAbandonedCartSettingsResponse:
      description: The response object of abandoned cart settings at the global level
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AbandonedCartSettings'
        meta:
          $ref: '#/components/schemas/metaEmpty_Full'
      x-tags:
        - Models
    ErrorResponse:
      description: The response object containing details of an error
      type: object
      properties:
        status:
          type: integer
        title:
          type: string
        type:
          type: string
        instance:
          type: string
        errors:
          type: object
      x-tags:
        - Models


openapi: '3.0.1'
info:
  version: Storefront
  title: Storefront Carts
  description: |-
    Manage cart operations and data using frontend JavaScript on BigCommerce Stencil-powered storefronts.
    
    For info about API accounts, see our [Guide to API Accounts](/api-docs/getting-started/api-accounts).
        
    For info about authenticating BigCommerce APIs, see [Authentication and Example Requests](/api-docs/getting-started/authentication#same-origin-cors-authentication).
servers:
  - url: 'https://{store_domain}/api/storefront'
    variables:
      store_domain:
        default: your_store.example.com
        description: 'The [URL authority](https://developer.mozilla.org/en-US/docs/Learn/Common_questions/Web_mechanics/What_is_a_URL#authority) of the storefront.'
tags:
  - name: Cart
  - name: Cart Items
  - name: Cart Currency
paths:
  /carts:
    get:
      tags:
        - Cart
      summary: Get a Cart
      description: |-
        Returns a *Cart*.
        
        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  

      operationId: getACart
      parameters:
        - $ref: '#/components/parameters/include'
      responses:
        '200':
          $ref: '#/components/responses/getCarts'
    post:
      tags:
        - Cart
      summary: Create a Cart
      description: |-
        Creates a *Cart*.

        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  

      operationId: createACart
      parameters:
        - $ref: '#/components/parameters/include'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestCart'
            examples:
              With Text Modifier:
                value:
                  lineItems:
                    - quantity: 2
                      productId: 230
                      optionSelections:
                        - optionId: 10
                          optionValue: Some Text Value
                  locale: en
        required: true
      responses:
        '200':
          $ref: '#/components/responses/postCarts'
      x-codegen-request-body-name: cartData
  '/carts/{cartId}':
    delete:
      tags:
        - Cart
      summary: Delete a Cart
      description: |-
        Deletes a *Cart*. Once a *Cart* has been deleted it can not be recovered.

        
        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  

      operationId: deleteACart
      parameters:
        - name: cartId
          in: path
          description: This cart's unique ID.
          required: true
          schema:
            type: string
            format: UUID
      responses:
        '204':
          description: No Content
  '/carts/{cartId}/items':
    post:
      tags:
        - Cart Items
      summary: Add Cart Line Items
      description: |-
        Adds a line items to the *Cart*.


        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  

      operationId: addCartLineItem
      parameters:
        - name: cartId
          in: path
          description: This cart's unique ID.
          required: true
          schema:
            type: string
            format: UUID
        - name: include
          in: query
          description: |-
            To return product options add one of the following include:

            `lineItems.physicalItems.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options`:  The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options,lineItems.physicalItems.options`:  The Cart returns an abbreviated result. Use this to return digital and physical options. Can also be used in a /POST to have the extended Cart object return.
          schema:
            type: string
            default: 'lineItems.digitalItems.options,lineItems.physicalItems.options'
            enum:
              - lineItems.physicalItems.options
              - lineItems.digitalItems.options
              - 'lineItems.digitalItems.options,lineItems.physicalItems.options'
      responses:
        '200':
          $ref: '#/components/responses/postCartsItems'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItemsRequest'
            examples:
              With Option Selections:
                value:
                  lineItems:
                    - quantity: 2
                      productId: 230
                      variantId: 124
                      optionSelections:
                        - optionId: 10
                          optionValue: 117
                        - optionId: 11
                          optionValue: 125
        description: ''
  '/carts/{cartId}/items/{itemId}':
    put:
      tags:
        - Cart Items
      summary: Update Cart Line Item
      description: |-
        Updates a *Cart* line item. Updates an existing, single line item quantity and the price of custom items in a cart.

        If a modified product or variant needs to be changed or updated, you can remove and re-add the product to the cart with the correct variants using the [Delete Cart Line Item](/docs/rest-storefront/carts/cart-items#delete-cart-line-item) and the [Add Cart Line Items](/docs/rest-storefront/carts/cart-items#add-cart-line-items) endpoints. You can also use carts mutations that are part of the [GraphQL Storefront API](/api-docs/storefront/graphql/carts-and-checkout).


        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  

      operationId: updateCartLineItem
      parameters:
        - name: cartId
          in: path
          description: This cart's unique ID.
          required: true
          schema:
            type: string
            format: UUID
        - name: itemId
          in: path
          description: This item's ID.
          required: true
          schema:
            type: string
            format: number
        - name: include
          in: query
          description: |-
            To return product options add one of the following include:

            `lineItems.physicalItems.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options`:  The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options,lineItems.physicalItems.options`:  The Cart returns an abbreviated result. Use this to return digital and physical options. Can also be used in a /POST to have the extended Cart object return.
          schema:
            type: string
            default: 'lineItems.digitalItems.options,lineItems.physicalItems.options'
            enum:
              - lineItems.physicalItems.options
              - lineItems.digitalItems.options
              - 'lineItems.digitalItems.options,lineItems.physicalItems.options'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestLineItemPut'
            examples:
              Variant Item:
                value:
                  lineItem:
                    productId: 229
                    variantId: 191
                    quantity: 10
                  locale: en
              Custom Item:
                value:
                  lineItem:
                    productId: 118
                    variantId: 140
                    quantity: 10
                    optionSelections:
                      - optionId: 125
                        optionValue: 127
                  locale: en
        required: true
      responses:
        '200':
          $ref: '#/components/responses/putCartsItems'
      x-codegen-request-body-name: lineItem
    delete:
      tags:
        - Cart Items
      summary: Delete Cart Line Item
      description: |-
        Deletes a *Cart* line item.

        Removing the last `line_item` in the *Cart* deletes the *Cart*.

        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  
      operationId: deleteCartLineItem
      parameters:
        - name: cartId
          in: path
          description: This cart's unique ID.
          required: true
          schema:
            type: string
            format: UUID
        - name: itemId
          in: path
          description: The ID of the item to delete.
          required: true
          schema:
            type: string
            format: number
        - name: include
          in: query
          description: |-
            To return product options add one of the following include:

            `lineItems.physicalItems.options`: The Cart returns an abbreviated result. Use this to return physical items product options. Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options`:  The Cart returns an abbreviated result. Use this to return digital items product options.  Can also be used in a /POST to have the extended Cart object return.

            `lineItems.digitalItems.options,lineItems.physicalItems.options`:  The Cart returns an abbreviated result. Use this to return digital and physical options. Can also be used in a /POST to have the extended Cart object return.
          schema:
            type: string
            default: 'lineItems.digitalItems.options,lineItems.physicalItems.options'
            enum:
              - lineItems.physicalItems.options
              - lineItems.digitalItems.options
              - 'lineItems.digitalItems.options,lineItems.physicalItems.options'
      responses:
        '200':
          $ref: '#/components/responses/deleteCartsItems'
  '/carts/{cartId}/currency':
    post:
      tags:
        - Cart Currency
      summary: Update Cart Currency
      description: |-
        Update currency of the *Cart*. 
        Promotions and gift certificates that don't apply to the new currency will be removed from your cart.
        You cannot update the cart currency if the draft order cart or the cart contains a manual discount.

        > #### Note
        > * Substitute your storefront domain for `yourstore.example.com`. 
        > * The Send a Test Request feature is not currently supported for this endpoint.  
      operationId: addCartCurrency
      parameters:
        - name: cartId
          in: path
          description: This cart's unique ID.
          required: true
          schema:
            type: string
            format: UUID
      responses:
        '200':
          $ref: '#/components/responses/getCarts'
        '400':
          description: Bad request. Authentication Required.
        '404':
          description: Currency not found
        '422':
          description: Missing or invalid data
      requestBody:
        content:
          application/json:
            schema:
              title: Cart Currency Request Data
              required:
                - currencyCode
              type: object
              properties:
                currencyCode:
                  type: string
                  description: currency code
              x-internal: false
        description: ''
components:
  schemas:
    responseCartCoupons:
      title: Response Cart Coupons
      type: array
      items:
        required:
          - code
        type: object
        properties:
          code:
            type: string
            description: The coupon code.
          couponType:
            type: integer
            description: |-
              |Type `int`|Type Name|
              |-|-|
              |`0`|`per_item_discount`|
              |`1`|`percentage_discount`|
              |`2`|`per_total_discount`|
              |`3`|`shipping_discount`|
              |`4`|`free_shipping`|
              |`5`|`promotion`|
          discountedAmount:
            type: number
            description: The discounted amount applied within a given context.
            format: float
          id:
            type: string
            description: The coupon ID.
      x-internal: false
    responseCartDiscounts:
      title: responseCartDiscounts
      type: array
      items:
        type: object
        properties:
          discountedAmount:
            type: number
            description: The discounted amount applied within a given context.
            format: float
          id:
            type: string
            description: ID of the applied discount.
      x-internal: false
    responseCart:
      description: Cart object used in REST Storefront API cart responses.
      title: Cart Read
      type: object
      properties:
        id:
          type: string
          description: 'Cart ID, provided after creating a cart with a POST.'
          format: UUID
        customerId:
          type: integer
          description: ID of the customer to which the cart belongs.
        email:
          type: string
          description: The cart's email. This is the same email that is used in the billing address
        currency:
          $ref: '#/components/schemas/responseCartCurrency'
        isTaxIncluded:
          type: boolean
          description: Whether this item is taxable.
        baseAmount:
          type: number
          description: 'Cost of cart’s contents, before applying discounts.'
        discountAmount:
          type: number
          description: Order based discounted amount only - Coupon discounts and product based discounts are excluded.
          format: float
        cartAmount:
          type: number
          description: 'Sum of line-items amounts, minus cart-level discounts and coupons. This amount includes taxes (where applicable).'
        coupons:
          $ref: '#/components/schemas/responseCartCoupons'
        discounts:
          $ref: '#/components/schemas/responseCartDiscounts'
        lineItems:
          $ref: '#/components/schemas/responseCartLineItems'
        createdTime:
          type: string
          description: Time when the cart was created.
          format: ISO-8601
        updatedTime:
          type: string
          description: Time when the cart was last updated.
          format: ISO-8601
        locale:
          type: string
          description: Locale of the cart.
      x-internal: false
    requestCart:
      title: Create Cart Request Object
      description: Cart object used in create cart requests.
      oneOf:
        - properties:
            lineItems:
              type: array
              items:
                $ref: '#/components/schemas/requestCartPostLineItem'
            locale:
              type: string
          required:
            - lineItems
        - properties:
            giftCertificates:
              type: array
              items:
                $ref: '#/components/schemas/requestLineItemGiftCertificate'
            locale:
              type: string
          required:
            - giftCertificates
        - properties:
            lineItems:
              type: array
              items:
                $ref: '#/components/schemas/requestCartPostLineItem'
            giftCertificates:
              $ref: '#/components/schemas/requestLineItemGiftCertificate'
            locale:
              type: string
          required:
            - lineItems
            - giftCertificates
      type: object
      x-internal: false
    responseCartLineItemsPhysicalItemGiftWrapping:
      title: Gift Wrapping
      type: object
      properties:
        amount:
          type: number
          description: Gift-wrapping price per product.
          format: float
        message:
          type: string
        name:
          type: string
          description: Name of the gift-wrapping option.
      nullable: true
      x-internal: false
    requestLineItemGiftCertificate:
      title: Line Item Gift Certificate Request Data
      required:
        - amount
        - name
        - quantity
        - recipient
        - sender
        - theme
      type: object
      properties:
        amount:
          maximum: 1000
          minimum: 1
          type: number
          description: Gift-certificate amount.
        message:
          type: string
          description: 'Message shown to recipient, as provided by sender.'
        name:
          type: string
          description: Name assigned to this gift-certificate line item.
        quantity:
          minimum: 1
          type: integer
          description: Quantity of this item.
        recipient:
          $ref: '#/components/schemas/requestLineItemGiftCertificateRecipient'
        sender:
          $ref: '#/components/schemas/requestLineItemGiftCertificateSender'
        theme:
          type: string
          description: 'Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`.'
      x-internal: false
    LineItemsRequest:
      title: requestLineItems
      oneOf:
        - properties:
            lineItems:
              type: array
              items:
                $ref: '#/components/schemas/requestCartPostLineItem'
          required:
            - lineItems
        - properties:
            giftCertificates:
              type: array
              items:
                $ref: '#/components/schemas/requestLineItemGiftCertificate'
          required:
            - giftCertificates
        - properties:
            lineItems:
              type: array
              items:
                $ref: '#/components/schemas/requestCartPostLineItem'
            giftCertificates:
              $ref: '#/components/schemas/requestLineItemGiftCertificate'
          required:
            - lineItems
            - giftCertificates
      type: object
      description: Cart object used in add items requests.
      x-internal: false
    requestLineItemPut:
      title: requestLineItemPut
      oneOf:
        - properties:
            lineItem:
              $ref: '#/components/schemas/requestCartPostLineItem'
          required:
            - lineItem
          title: Line item
        - properties:
            giftCertificates:
              $ref: '#/components/schemas/requestLineItemGiftCertificate'
          required:
            - giftCertificates
          title: Gift certificate item
        - properties:
            lineItem:
              $ref: '#/components/schemas/requestCartPostLineItem'
            giftCertificates:
              $ref: '#/components/schemas/requestLineItemGiftCertificate'
          required:
            - lineItem
            - giftCertificates
          title: line & gift certificate items
      description: ''
      type: object
      x-internal: false
    responseCartCurrency:
      title: Currency
      type: object
      properties:
        code:
          type: string
          description: 'ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)'
          format: ISO-4217
      description: This will always be the same between cart and checkout.
      x-go-gen-location: models
      x-internal: false
    responseCartLineItems:
      title: Response Line Items Object
      type: object
      properties:
        customItems:
          type: array
          items:
            $ref: '#/components/schemas/responseCartLineItemsCustomItems'
        digitalItems:
          type: array
          description: Array of `ItemDigital` objects.
          items:
            $ref: '#/components/schemas/responseCartLineItemsDigitalItems'
        giftCertificates:
          type: array
          description: Array of `ItemGiftCertificate` objects.
          items:
            $ref: '#/components/schemas/responseCartLineItemsGiftCertificates'
        physicalItems:
          type: array
          description: Array of `ItemPhysical` objects.
          items:
            $ref: '#/components/schemas/responseCartLineItemsItemsPhysicalItemsItems'
      x-internal: false
    responseCartLineItemsCustomItems:
      title: Item Custom
      type: object
      properties:
        extendedListPrice:
          type: integer
          readOnly: true
        id:
          type: string
          description: Id of the custom item
          readOnly: true
          example: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
        listPrice:
          type: integer
          description: Price of the item. With or without tax depending on your stores set up.
          readOnly: true
          example: 10
        name:
          type: string
          description: Name of the custom item.
          readOnly: true
          example: Custom Item Name
        quantity:
          type: integer
          readOnly: true
          example: 1
        sku:
          type: string
          description: SKU of the custom item.
          readOnly: true
          example: SM-456
      description: |-
        **Read Only**

        This will return in the Cart Response if the Cart was created using the [REST Management API](/docs/rest-management/carts). A custom item can only be added to a cart using the REST Management API.
      x-internal: false
    responseCartLineItemsDigitalItems:
      title: Item Digital
      allOf:
        - $ref: '#/components/schemas/responseCartLineItemsDigitalItemsAllOf0'
      x-internal: false
    responseCartLineItemsDigitalItemsAllOf0:
      title: Base Item
      required:
        - quantity
      type: object
      properties:
        options:
          type: array
          description: The list of selected options for this product.
          items:
            $ref: '#/components/schemas/responseCartLineItemsDigitalItemsAllOf0OptionsItems'
        brand:
          type: string
          description: The products brand
        couponAmount:
          type: number
          description: The total value of all coupons applied to this item.
        discountAmount:
          type: number
          description: The total value of all discounts applied to this item (excluding coupon).
          format: float
        discounts:
          type: array
          description: 'List of discounts applied to this item, as an array of AppliedDiscount objects.'
          items:
            $ref: '#/components/schemas/responseCartLineItemsDigitalItemsAllOf0DiscountsItems'
        extendedListPrice:
          type: number
          description: Item's list price multiplied by the quantity.
        extendedSalePrice:
          type: number
          description: Item's sale price multiplied by the quantity.
        id:
          type: string
          description: The line-item ID.
          example: '4'
        imageUrl:
          type: string
          description: 'URL of an image of this item, accessible on the internet.'
          format: uri
        isTaxable:
          type: boolean
          description: Whether the item is taxable.
        listPrice:
          type: number
          description: 'The net item price before discounts and coupons. BigCommerce derives an item’s list price from the product default price or, if applicable, the sale price configured in the admin panel.'
        originalPrice:
          type: number
          description: An item’s original price is the same as the product default price in the admin panel.
        name:
          type: string
          description: The item's product name.
        parentId:
          type: string
          description: 'The product is part of a bundle such as a product pick list, then the parentId or the main product id will populate.'
          example: '6'
        productId:
          type: number
          description: ID of the product.
        quantity:
          type: number
          description: Quantity of this item.
        salePrice:
          type: number
          description: Item's price after all discounts are applied. (The final price before tax calculation.)
        sku:
          type: string
          description: SKU of the variant.
        url:
          type: string
          description: The product URL.
          format: uri
        variantId:
          type: number
          description: ID of the variant.
          example: 7
      x-internal: false
    responseCartLineItemsDigitalItemsAllOf0DiscountsItems:
      title: Applied Discount
      type: object
      properties:
        discountedAmount:
          type: number
          description: The discounted amount applied within a given context.
          format: float
        id:
          type: number
          description: ID of the applied discount.
      x-internal: false
    responseCartLineItemsDigitalItemsAllOf0OptionsItems:
      title: Product Option
      type: object
      properties:
        name:
          type: string
          description: 'The product option name. For example, Color or Size'
        nameId:
          type: number
          description: 'The product option identifier. It is the same as the `optionId` used in the request. '
          example: 125
        value:
          type: string
          description: 'The product option value. For example, Red or Medium'
        valueId:
          type: number
          description: The product option value identifier. It is the same as the `optionValue` used in the request.
          example: 127
      x-internal: false
    responseCartLineItemsGiftCertificates:
      title: Item Gift Certificate
      required:
        - amount
        - recipient
        - sender
        - theme
      type: object
      properties:
        amount:
          type: number
          description: 'Value must be between 1.00 and 1,000.00 in the storeʼs default currency.'
        id:
          type: string
          description: ID of this gift certificate.
        isTaxable:
          type: boolean
          description: Whether or not the gift certificate is taxable.
        message:
          type: string
          description: Message that will be sent to the gift certificate's recipient. Limited to 200 characters.
        name:
          type: string
          description: GiftCertificate-provided name that will appear in the control panel.
        recipient:
          $ref: '#/components/schemas/responseCartLineItemsGiftCertificatesRecipient'
        sender:
          $ref: '#/components/schemas/responseCartLineItemsGiftCertificatesSender'
        theme:
          type: string
          description: 'Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`.'
      x-internal: false
    responseCartLineItemsGiftCertificatesRecipient:
      title: Contact Entity
      type: object
      properties:
        email:
          type: string
          description: Contact's email address.
          format: email
        name:
          type: string
          description: Contact's name.
      x-internal: false
    responseCartLineItemsGiftCertificatesSender:
      title: Contact Entity
      type: object
      properties:
        email:
          type: string
          description: Contact's email address.
          format: email
        name:
          type: string
          description: Contact's name.
      x-internal: false
    responseCartLineItemsItemsPhysicalItemsItems:
      title: Item Physical
      allOf:
        - $ref: '#/components/schemas/responseCartBaseItem'
        - $ref: '#/components/schemas/responseCartLineItemsItemsPhysicalItemsItemsAllOf1'
      x-internal: false
    responseCartBaseItem:
      title: Base Item
      type: object
      properties:
        options:
          type: array
          description: The list of selected options for this product.
          items:
            $ref: '#/components/schemas/responseCartLineItemsItemsPhysicalItemsItemsAllOf0OptionsItems'
        brand:
          type: string
          description: The products brand
        couponAmount:
          type: number
          description: The total value of all coupons applied to this item.
        discountAmount:
          type: number
          description: The total value of all discounts applied to this item (excluding coupon).
          format: float
        discounts:
          $ref: '#/components/schemas/responseCartDiscounts'
        extendedListPrice:
          type: number
          description: Item's list price multiplied by the quantity.
        extendedSalePrice:
          type: number
          description: Item's sale price multiplied by the quantity.
        id:
          type: string
          description: The line-item ID.
          example: '4'
        imageUrl:
          type: string
          description: 'URL of an image of this item, accessible on the internet.'
          format: uri
        isTaxable:
          type: boolean
          description: Whether the item is taxable.
        listPrice:
          type: number
          description: 'The net item price before discounts and coupons. BigCommerce derives an item’s list price from the product default price or, if applicable, the sale price configured in the admin panel.'
        originalPrice:
          type: number
          description: An item’s original price is the same as the product default price in the admin panel.
        name:
          type: string
          description: The item's product name.
        parentId:
          type: number
          description: 'The product is part of a bundle such as a product pick list, then the parentId or the main product id will populate.'
          example: 6
        productId:
          type: number
          description: ID of the product.
        quantity:
          type: number
          description: Quantity of this item.
        salePrice:
          type: number
          description: Item's price after all discounts are applied. (The final price before tax calculation.)
        sku:
          type: string
          description: SKU of the variant.
        url:
          type: string
          description: The product URL.
          format: uri
        variantId:
          type: number
          description: ID of the variant.
          example: 7
      required:
        - quantity
      x-internal: false
    responseCartLineItemsItemsPhysicalItemsItemsAllOf0OptionsItems:
      title: Product Option
      type: object
      properties:
        name:
          type: string
          description: 'The product option name. For example, Color or Size'
        nameId:
          type: number
          description: The product option identifier. It is the same as the `optionId` used in the request.
          example: 125
        value:
          type: string
          description: 'The product option value. For example, Red or Medium'
        valueId:
          type: number
          description: The product option value identifier. It is the same as the `optionValue` used in the request.
          example: 127
      x-internal: false
    responseCartLineItemsItemsPhysicalItemsItemsAllOf1:
      type: object
      properties:
        giftWrapping:
          $ref: '#/components/schemas/responseCartLineItemsPhysicalItemGiftWrapping'
        isShippingRequired:
          type: boolean
          description: Whether this item requires shipping to a physical address.
      x-internal: false
    requestCartPostLineItem:
      title: Line Item Request Data
      anyOf:
        - properties:
            productId:
              type: number
              description: ID of the product.
            quantity:
              type: number
              description: Quantity of this item.
          required:
            - productId
            - quantity
          title: Simple product
        - properties:
            productId:
              type: number
              description: ID of the product.
            quantity:
              type: number
              description: Quantity of this item.
            variantId:
              type: number
              description: ID of the variant.
          required:
            - productId
            - quantity
            - variantId
          title: Product with a variant    
      x-examples:
        example-1:
          productId: 0
          quantity: 0
      x-internal: false
      type: object
    requestLineItemGiftCertificateRecipient:
      title: Contact Entity
      type: object
      properties:
        email:
          type: string
          description: Contact's email address.
          format: email
        name:
          type: string
          description: Contact's name.
      x-internal: false
    requestLineItemGiftCertificateSender:
      title: Contact Entity
      type: object
      properties:
        email:
          type: string
          description: Contact's email address.
          format: email
        name:
          type: string
          description: Contact's name.
      x-internal: false
  responses:
    postCarts:
      description: Post Carts Response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCart'
          examples:
            Example:
              value:
                id: string
                customerId: 0
                email: string
                currency:
                  code: string
                isTaxIncluded: true
                baseAmount: 0
                discountAmount: 0
                cartAmount: 0
                coupons:
                  - code: string
                    couponType: 0
                    discountedAmount: 0
                    id: string
                discounts:
                  - discountedAmount: 0
                    id: string
                lineItems:
                  customItems:
                    - extendedListPrice: 0
                      id: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
                      listPrice: 10
                      name: Custom Item Name
                      quantity: 1
                      sku: SM-456
                  digitalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: 0
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      listPrice: 0
                      originalPrice: 0
                      name: string
                      parentId: '6'
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                  giftCertificates:
                    - amount: 0
                      id: string
                      isTaxable: true
                      message: string
                      name: string
                      recipient:
                        email: user@example.com
                        name: string
                      sender:
                        email: user@example.com
                        name: string
                      theme: string
                  physicalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: string
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      listPrice: 0
                      originalPrice: 0
                      name: string
                      parentId: 6
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                      giftWrapping:
                        amount: 0
                        message: string
                        name: string
                      isShippingRequired: true
                createdTime: string
                updatedTime: string
                locale: string
    postCartsItems:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCart'
          examples:
            example-1:
              value:
                id: string
                customerId: 0
                email: string
                currency:
                  code: string
                isTaxIncluded: true
                baseAmount: 0
                discountAmount: 0
                cartAmount: 0
                coupons:
                  - code: string
                    couponType: 0
                    discountedAmount: 0
                    id: string
                discounts:
                  - discountedAmount: 0
                    id: string
                lineItems:
                  customItems:
                    - extendedListPrice: 0
                      id: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
                      listPrice: 10
                      name: Custom Item Name
                      quantity: 1
                      sku: SM-456
                  digitalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: 0
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      listPrice: 0
                      originalPrice: 0
                      name: string
                      parentId: '6'
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                  giftCertificates:
                    - amount: 0
                      id: string
                      isTaxable: true
                      message: string
                      name: string
                      recipient:
                        email: user@example.com
                        name: string
                      sender:
                        email: user@example.com
                        name: string
                      theme: string
                  physicalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: string
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      listPrice: 0
                      originalPrice: 0
                      name: string
                      parentId: 6
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                      giftWrapping:
                        amount: 0
                        message: string
                        name: string
                      isShippingRequired: true
                createdTime: string
                updatedTime: string
                locale: string
    putCartsItems:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCart'
          examples:
            Example:
              value:
                id: string
                customerId: 0
                email: string
                currency:
                  code: string
                isTaxIncluded: true
                baseAmount: 0
                discountAmount: 0
                cartAmount: 0
                coupons:
                  - code: string
                    couponType: 0
                    discountedAmount: 0
                    id: string
                discounts:
                  - discountedAmount: 0
                    id: string
                lineItems:
                  customItems:
                    - extendedListPrice: 0
                      id: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
                      listPrice: 10
                      name: Custom Item Name
                      quantity: 1
                      sku: SM-456
                  digitalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: 0
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: '6'
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                  giftCertificates:
                    - amount: 0
                      id: string
                      isTaxable: true
                      message: string
                      name: string
                      recipient:
                        email: user@example.com
                        name: string
                      sender:
                        email: user@example.com
                        name: string
                      theme: string
                  physicalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: string
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: 6
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                      giftWrapping:
                        amount: 0
                        message: string
                        name: string
                      isShippingRequired: true
                createdTime: string
                updatedTime: string
                locale: string
    getCarts:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/responseCart'
          examples:
            Example:
              value:
                - id: 770ded29-da45-4ee0-abc6-883e83c0e5ed
                  customerId: 0
                  email: ''
                  currency:
                    name: US Dollars
                    code: USD
                    symbol: $
                    decimalPlaces: 2
                  isTaxIncluded: false
                  baseAmount: 246
                  discountAmount: 0
                  cartAmount: 221.4
                  coupons: []
                  discounts:
                    - id: a83dea21-d757-47a2-a06a-73cf6a983746
                      discountedAmount: 24.6
                  lineItems:
                    physicalItems:
                      - id: a83dea21-d757-47a2-a06a-73cf6a983746
                        parentId: 6
                        variantId: 193
                        productId: 230
                        sku: sku123-VA
                        name: options test
                        url: 'https://store.example.com/options-test/'
                        quantity: 2
                        brand: BigCommerce
                        isTaxable: true
                        imageUrl: 'https://cdn11.bigcommerce.com/r-3b68d717e18793df0b51c71e16bc24664ad18b7c/themes/ClassicNext/images/ProductDefault.gif'
                        discounts:
                          - id: string
                            discountedAmount: 24.6
                        discountAmount: 24.6
                        couponAmount: 0
                        originalPrice: 130
                        listPrice: 123
                        salePrice: 110.7
                        extendedListPrice: 246
                        extendedSalePrice: 221.4
                        isShippingRequired: true
                        type: physical
                        isMutable: true
                        giftWrapping: null
                    digitalItems: []
                    giftCertificates: []
                    customItems: []
                  createdTime: '2021-03-04T14:17:50+00:00'
                  updatedTime: '2021-03-04T14:17:50+00:00'
                  locale: en
    deleteCartsItems:
      description: 'NOTE: Discounted line items are re-evaluated on cart actions and may be automatically added back to your cart with a new line item ID to satisfy promotional requirements.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCart'
          examples:
            Example:
              value:
                id: string
                customerId: 0
                email: string
                currency:
                  code: string
                isTaxIncluded: true
                baseAmount: 0
                discountAmount: 0
                cartAmount: 0
                coupons:
                  - code: string
                    couponType: 0
                    discountedAmount: 0
                    id: string
                discounts:
                  - discountedAmount: 0
                    id: string
                lineItems:
                  customItems:
                    - extendedListPrice: 0
                      id: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
                      listPrice: 10
                      name: Custom Item Name
                      quantity: 1
                      sku: SM-456
                  digitalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: 0
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: '6'
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                  giftCertificates:
                    - amount: 0
                      id: string
                      isTaxable: true
                      message: string
                      name: string
                      recipient:
                        email: user@example.com
                        name: string
                      sender:
                        email: user@example.com
                        name: string
                      theme: string
                  physicalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: string
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: 6
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                      giftWrapping: null
                      isShippingRequired: true
                createdTime: string
                updatedTime: string
                locale: string
    deleteCarts:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responseCart'
          examples:
            example-1:
              value:
                id: string
                customerId: 0
                email: string
                currency:
                  code: string
                isTaxIncluded: true
                baseAmount: 0
                discountAmount: 0
                cartAmount: 0
                coupons:
                  - code: string
                    couponType: 0
                    discountedAmount: 0
                    id: string
                discounts:
                  - discountedAmount: 0
                    id: string
                lineItems:
                  customItems:
                    - extendedListPrice: 0
                      id: f1f3a531-fbcf-439b-bac1-40d5ae5c2bff
                      listPrice: 10
                      name: Custom Item Name
                      quantity: 1
                      sku: SM-456
                  digitalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: 0
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: '6'
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                  giftCertificates:
                    - amount: 0
                      id: string
                      isTaxable: true
                      message: string
                      name: string
                      recipient:
                        email: user@example.com
                        name: string
                      sender:
                        email: user@example.com
                        name: string
                      theme: string
                  physicalItems:
                    - options:
                        - name: string
                          nameId: 0
                          value: string
                          valueId: 0
                      brand: string
                      couponAmount: 0
                      discountAmount: 0
                      discounts:
                        - discountedAmount: 0
                          id: string
                      extendedListPrice: 0
                      extendedSalePrice: 0
                      id: '4'
                      imageUrl: 'http://example.com'
                      isTaxable: true
                      originalPrice: 0
                      listPrice: 0
                      name: string
                      parentId: 6
                      productId: 0
                      quantity: 0
                      salePrice: 0
                      sku: string
                      url: 'http://example.com'
                      variantId: 7
                      giftWrapping: null
                      isShippingRequired: true
                createdTime: string
                updatedTime: string
                locale: string
  parameters:
    include:
      name: include
      in: query
      description: Include product options in specified line item types.
      schema:
        type: string
        enum:
          - lineItems.physicalItems.options
          - lineItems.digitalItems.options
          - 'lineItems.digitalItems.options,lineItems.physicalItems.options'
  examples: {}


openapi: '3.0.3'
info:
  title: Carts
  version: ''
  description: |-
    Create a cart using BigCommerce cart logic.

    Manage settings related to carts.
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
servers:
  - url: 'https://api.bigcommerce.com/stores/{store_hash}/v3'
    variables:
      store_hash:
        default: store_hash
        description: Permanent ID of the BigCommerce store.
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Carts (Single)
  - name: Items
  - name: Redirects
  - name: Settings
  - name: Metafields
paths:
  '/carts':
    parameters:
      - $ref: '#/components/parameters/Accept'
    post:
      description: |-
        Creates a **Cart**. 

        **Required Fields**

        |Field|Details|
        |-|-|
        |`line_item`|Specifies a line item.| 
        |`custom_items`|Specifies a custom item. Only required if adding a custom item to the cart.|
        |`gift_certificates`|Specifies a gift certificate. Only required if adding a gift certificate to the cart.|

        **Usage Notes**

        * A **cart** `id` (UUID) is returned in the response.
        * A **cart** `id` is the same as a **checkout** `id`.
        * A cart can be created by adding an existing **catalog item** or a **custom item**.
        * Carts are valid for **30 days** from the **last modification** (this includes creating the cart or editing the cart).
        * If a product has modifiers, use the `option_selections` array to describe the **modifier** selection(s).
        * The format and data type of a cart’s `option_value` are defined by the `value_data` object of a product’s [variant option value](/docs/rest-catalog/product-variant-options/values), [modifier value](/docs/rest-catalog/product-modifiers/values), or a combination of both.
        * Redirect URLs can only be generated from carts that were created using the **REST Management API**. 
        * To get cart `redirect_urls` in the response, append the following query parameter to the request URL: `include=redirect_urls`. Redirect URLs point to either a shared checkout domain or a channel-specific domain, depending on the storefront configuration.
        * To restore a cart that was created by a shopper or through a Storefront API, first recreate the cart using the **REST Management API**.
        * To get cart `promotions` in the response, append the following query parameter to the request URL: `include=promotions.banners`.
      parameters:
        - name: include
          in: query
          description: |-
            * `redirect_urls`: Create a direct link to a cart. This can be used for the /POST request for carts.
            * `line_items.physical_items.options`: The cart returns an abbreviated result. Use this to return physical items product options. To return the extended cart object, use in a /POST request.
            * `line_items.digital_items.options`: The cart returns an abbreviated result. Use this to return digital items product options. To return the extended cart object, use in a /POST request.
            * `promotions.banners`: Returns a list of eligible banners.
          schema:
            type: string
            enum:
              - redirect_urls
              - line_items.physical_items.options
              - line_items.digital_items.options
              - promotions.banners
        - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartCreatePostData'
            examples:
              Simple Product:
                summary: Creating a cart by adding a simple product without option selections.
                value:
                  customer_id: 0
                  line_items:
                    - quantity: 2
                      product_id: 126
                      list_price: 5
                      name: calendar
                  channel_id: 1
                  currency:
                    code: USD
                  locale: en-US
              Cart with a variant:
                summary: Creating a cart with a product that can be specified purely by a variant, without any other required options.
                value:
                  customer_id: 0
                  line_items:
                    - quantity: 2
                      product_id: 118
                      list_price: 25
                      variant_id: 140
                      name: قميص
                      option_selections:
                        - option_id: 125
                          option_value: 127
                          name: بحجم
                          value: صغير
                  channel_id: 1
                  currency:
                    code: JOD
                  locale: ar-JO
              Cart with date option:
                summary: Creating a cart using a date option.
                value:
                  line_items:
                    - quantity: 1
                      product_id: 128
                      variant_id: 144
                      option_selections:
                        - option_id: 147
                          option_value: '{“día”:”01”, “mes”:”02”, “año”:”2020”}'
                          name: calendario
                          value: 2023
                  currency:
                    code: MXN
                  locale: es-MX
              Cart with variant, a checkbox, and a pick list modifier:
                summary: Creating a cart with a variant, a checkbox, and an added picklist modifier.
                value:
                  customer_id: 0
                  line_items:
                    - quantity: 1
                      variant_id: 141
                      product_id: 118
                      list_price: 30
                      name: shirt
                      options:
                        - name: Size
                          nameId: 125
                          value: Large
                          valueId: 127
                        - name: Add a $5 Donation
                          nameId: 126
                          value: 'No'
                          valueId: 129
                  channel_id: 1
                  currency:
                    code: AUD
                  locale: en-AU
              Custom item:
                summary: Creating a cart using a custom item.
                value:
                  customer_id: 0
                  line_items: []
                  custom_items:
                    - sku: custom-item-sku
                      name: table
                      quantity: 1
                      list_price: 30
                      gift_wrapping:
                        wrap_together: true
                        wrap_details:
[...]
